################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/instituto93.Controller/bin/Debug/net9.0
/instituto93.Data/bin/Debug/net8.0
/instituto93.Data/obj/Debug/net8.0/ref/instituto93.Data.dll
/instituto93.Data/obj/Debug/net8.0/refint/instituto93.Data.dll
/instituto93.Controller/obj/Debug/net9.0/EndpointInfo/instituto93.Controller.json
/instituto93.Controller/obj/Debug/net9.0/EndpointInfo/instituto93.Controller.OpenApiFiles.cache
/instituto93.Controller/obj/Debug/net9.0/ref/instituto93.Controller.dll
/instituto93.Controller/obj/Debug/net9.0/refint/instituto93.Controller.dll
/instituto93.Controller/obj/Debug/net9.0/ApiEndpoints.json
/instituto93.Controller/obj/Debug/net9.0/apphost.exe
/instituto93.Controller/obj/Debug/net9.0/institut.A799B47B.Up2Date
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.AssemblyInfo.cs
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.AssemblyInfoInputs.cache
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.assets.cache
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.csproj.AssemblyReference.cache
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.csproj.CoreCompileInputs.cache
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.csproj.FileListAbsolute.txt
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.dll
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.genruntimeconfig.cache
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.MvcApplicationPartsAssemblyInfo.cache
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.MvcApplicationPartsAssemblyInfo.cs
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.pdb
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.sourcelink.json
/instituto93.Controller/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/instituto93.Controller/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/instituto93.Controller/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/instituto93.Controller/obj/Debug/net9.0/staticwebassets.build.json
/instituto93.Controller/obj/Debug/net9.0/staticwebassets.build.json.cache
/instituto93.Controller/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/instituto93.Data/obj/Debug/net8.0/institut.DD770CA3.Up2Date
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.AssemblyInfo.cs
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.AssemblyInfoInputs.cache
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.assets.cache
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.csproj.AssemblyReference.cache
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.csproj.CoreCompileInputs.cache
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.csproj.FileListAbsolute.txt
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.dll
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.pdb
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.sourcelink.json
/instituto93.Application/bin/Debug/net8.0
/instituto93.Application/obj/Debug/net8.0/ref
/instituto93.Application/obj/Debug/net8.0/refint
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.AssemblyInfo.cs
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.AssemblyInfoInputs.cache
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.assets.cache
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.csproj.CoreCompileInputs.cache
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.csproj.FileListAbsolute.txt
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.dll
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.pdb
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.sourcelink.json
/instituto93.Controller/obj
/instituto93.Data/obj
/instituto93.Domain/obj
/.vs/Instituto93/v17
/.vs/Instituto93/v15/Server/sqlite3
/instituto93.Domain/bin/Debug/net8.0
/instituto93.Application/obj
/.vs/Instituto93/CopilotIndices/17.14.1147.5054
/.vs/ProjectEvaluation
/.vs/Instituto93/DesignTimeBuild
/.vs/Instituto93/v15
/.vs/Instituto93/FileContentIndex
/.vs/Instituto93/config/applicationhost.config
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.AssemblyInfoInputs.cache
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.AssemblyInfo.cs
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.AssemblyInfoInputs.cache
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.AssemblyInfo.cs
/instituto93.Data/obj/Debug/net8.0/instituto93.Data.AssemblyInfo.cs
/instituto93.Controller/obj/Debug/net9.0/instituto93.Controller.AssemblyInfoInputs.cache
