################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

bin/
obj
.vs/
/instituto93.Application/obj/Debug/net8.0/instituto93.Application.GeneratedMSBuildEditorConfig.editorconfig
/.gitignore
