USE instituto_db;

GO

ALTER PROC [dbo].[sp_insertCursosMaterias]
	@NombreCurso varchar(10),
	@AnioCarreraId int
AS
	declare @aniocarreracodigobloque varchar(10)

	select @aniocarreracodigobloque = AniosCarrerasCodigoBloque from AniosCarreras where AnioCarreraId = @AnioCarreraId

	INSERT INTO Cursos(NombreCurso,CodigoBloque, AnioCarreraId, Activo,AdmiteCurso)
	VALUES(@NombreCurso,CONCAT(@aniocarreracodigobloque, @NombreCurso),@AnioCarreraId,1,1)


	DECLARE @CursoId int
    select @CursoId = @@IDENTITY
	DECLARE @fecha date
	set @fecha = GETDATE()


	INSERT INTO CursoMaterias(MateriaId, CursoId,FechaAlta,Activo, CodigoBloque)
	SELECT MateriaId, @CursoId,@fecha,1,concat(MateriasCodigoBloque,@NombreCurso) from Materias where AnioCarreraId=@AnioCarreraId

